.fundo-sabores {
    background-repeat: no-repeat;
    background-image: url("./banner-sabores.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    text-shadow: 3px 5px 2px #474747;
}

.shadow-special {
    box-shadow: 0 0 8px 2px #dbd9d9;
}