.fundo-sabores {
    background-repeat: no-repeat;
    background-image: url("./banner-sabores.jpg");
    background-size: cover;
}

h1 {
    text-shadow: 3px 5px 2px #474747;
}

.shadow-special {
    box-shadow: 0 0 8px 2px #dbd9d9;
}

.largura {
    margin: 0 30px 0 0;
    background-color: #ffb500;
    box-shadow: inset 0 0 15px 12px #ed8317;
    height: 370px;
    width: calc(100% / 3);
    color: #fff;
    border-radius: 10px;
    background-color: black;
}

.conteudo {
    margin: 10px auto;
    max-width: 1024px;
}